<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            <h1>Accounts Update</h1>
            <div>Total Number Of Accounts: <%= locals.numberOfUsers %></div>
            <div>Total Number Of New Accounts: <%= locals.newUsers %></div>
            <div>Total Number Of Renewals: <%= locals.numberOfRenewals %></div>
            <div>Total Number Of Deleted: <%= locals.numberOfDeleted %></div>

            <h1>Accounts Status</h1>
            <div>Total Number Of Accounts In Build: <%= locals.numberOfAccountsInBuild %></div>
            <div>Total Number Of Accounts In Execute: <%= locals.numberOfAccountsInExecute %></div>
        
            <h1>Success Metrics</h1>
            <div>Total Number hitting quarterly goals by 75% or higher: <%= locals.quaterlyHitting %></div>
            <div>Total Number hitting annual goals by 75% or higher: <%= locals.annualHitting %></div>
            
            <h1>Client Activity</h1>
            <table>
            <tr>
                <th>Name</th>
                <th>Activity Data</th>
                <% for(var i=0; i<locals.clientActivity.length; i++) {%>
                        <tr>
                            <td><%= locals.clientActivity[i].name %></td>
                            <td><%= locals.clientActivity[i].string %></td>
                        </tr>
                <% } %>
                <% for(var i=0; i<locals.notes.length; i++) {%>
                    <tr>
                        <td><%= locals.notes[i].admin %></td>
                        <td> <%= locals.notes[i].user %>, <%= locals.notes[i].note %></td>
                    </tr>
                    <% } %>
                <% for(var i=0; i<locals.act.length; i++) {%>
                    <tr>
                        <td><%= locals.act[i].name %></td>
                        <td><%= locals.act[i].string %></td>
                    </tr>
                    <% } %>
            </tr>
            </table>
            <!-- <h1>Client Interaction Notes</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>User</th>
                    <th>Note</th>
                </tr>
                <% for(var i=0; i<locals.notes.length; i++) {%>
                <tr>
                    <td><%= locals.notes[i].admin %></td>
                    <td><%= locals.notes[i].user %></td>
                    <td><%= locals.notes[i].note %></td>
                </tr>
                <% } %>
                            
            </table> -->

            <h1>Eveyone who has not logged in for over 2 weeks as of today: <%= locals.notLogged.length %></h1>
                <table>
                    <tr>
                        <th>Account</th>
                        <th>Date</th>
                    </tr>
                    <% for(var i=0; i<locals.notLogged.length; i++) {%>
                    <tr>
                        <td><%= locals.notLogged[i].name %></td>
                        <td><%= locals.notLogged[i].date %></td>
                    </tr>
                    <% } %>
                </table>
            
        </div>
    </div>
</body>