<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            <%= user.businessName %> <%= user.name %> <%= user.lastName %> missed their <%= plan %> SLAPexpert call with <%= expert.name %> <%= expert.lastName %>.  Follow up with SLAPster, make sure they are ok and re-schedule.        </div>
    </div>
</body>